{
  "check-coverage": true,
  "per-file": true,
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 99,
  "watermarks": {
    "lines": [80, 95],
    "functions": [80, 95],
    "branches": [80, 95],
    "statements": [80, 95]
  },
  "include": [
    "src/**/*.ts",
    "src/**/*.tsx"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary"
  ],
  "sourceMap": true,
  "instrument": true
}
